---
title: Sihat Afnan
url: /
---
<!DOCTYPE html>
<html lang="en-us">
{% include home-head.html %}
<body>
    <div class="container">
        {% include home-header.html %}
        {% include about.html %}
        {% include news.html %}
        {% include research.html %}
        {% include experience.html %}
        {% include projects.html %}
        {% comment %}{% include papers.html %}{% endcomment %}
        {% include coursework.html %}
        {% include awards.html %}
        {% include usefullinks.html %}
        {% include contact.html %}
        <footer>
            &copy; {{ site.time | date: '%Y' }} Sihat Afnan &middot; Last updated {{ site.time | date: '%B %Y' }}
        </footer>
    </div>
    {% include home-scripts.html %}
</body>
</html>
