<section id="about" class="home-section wg-about   ">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-4">
                <div id="profile">
                    <img class="avatar avatar-circle" src="/admin/sihat.jpg" alt="Avatar">
                    <div class="portrait-title">
                        <h2>Sihat Afnan</h2>
                        <h3>Graduate Fellow at UC Irvine</h3>
                        <!-- <h3>
                            <a href="https://www.wisc.edu/" target="_blank" rel="noopener">
                                <span>University of Wisconsin-Madison</span>
                            </a>
                        </h3> -->
                    </div>
                    <ul class="network-icon" aria-hidden="true">
                        <li>
                            <a href="mailto:sihatafnan24@gmail.com">
                                <i class="fas fa-envelope big-icon"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://scholar.google.com/citations?hl=en&authuser=2&user=Rc0VKrMAAAAJ" target="_blank" rel="noopener">
                                <i class="ai ai-google-scholar big-icon"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/sihat-afnan-76aa99152/" target="_blank" rel="noopener">
                                <i class="fab fa-linkedin big-icon"></i>
                            </a>
                        </li>
                        <!-- <li>
                            <a href="https://twitter.com/sadmankiba" target="_blank" rel="noopener">
                                <i class="fab fa-twitter big-icon"></i>
                            </a>
                        </li> -->
                        <li>
                            <a href="https://github.com/sihatafnan" target="_blank" rel="noopener">
                                <i class="fab fa-github big-icon"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-lg-8">
                <!-- <p> I am enthusiastic about ... and my interest lies broadly in:</p>
                <blockquote>
                    <ul>
                        <li>
                            <p style="font-variant:small-caps"><b>...</b></p>
                        </li>
                        <li>
                            <p style="font-variant:small-caps"><b></b>...</p>
                        </li>
                    </ul>
                </blockquote> -->
                <p>Hi! I am Sihat Afnan. I am a recent graduate from the Department of Computer Sciences Bangladesh University of Engneering and technology(BUET) and currently employed as a lecturer in the Department of 
                    of Computer Science and Engineering of BRAC University. My focus is in the area of Systems Security, Network Security and Machine Learning. 
                <!-- During my undergraduate, I worked on projects in the areas of edge computing, IoT and deep learning.</p>   -->
                <p>I enjoy outdoor activities (e.g. jogging, travelling), reading non-fiction, watching cricket and listening to music. </p>
              
                <div class="row">
                    <div class="col-md-5">
                        <h3>Interests</h3>
                        <ul class="ul-interests">
                            <li style="text-align: left;">Systems Security</li>
                            <li style="text-align: left;">Network Security</li>
                        </ul>
                    </div>
                    <div class="col-md-7">
                        <h3>Education</h3>
                        <ul class="ul-edu fa-ul">
                            <li>
                                <i class="fa-li fas fa-graduation-cap"></i>
                                <div class="description">
                                    <p class="course">Bachelor of Science in Computer Science (2018 - 2023)</p>
                                    <p class="institution">Bangaldesh University of Engineering and Technology</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- <div class="row">
                    <div class="col-md-12">
                        <h3>Recent News</h3>
                        <ul>
                            <li>
                                <a href="https://ieeexplore.ieee.org/document/9743909">Federated 3GPP Mobile Edge Computing Systems: A Transparent Proxy for 3rd-Party Authentication with Application Mobility Support</a> has been accepted to IEEE Access!
                            </li>
                            <li>
                                <a href="files/edge_fog_accepted.pdf">Provisioning Fog Services to 3GPP Subscribers: Authentication and Application Mobility</a> has been accepted to IEEE ICC 2022!
                            </li>
                        </ul>
                    </div>

                </div> -->
                </br>
                </br>
                </br>
            </div>
        </div>
    </div>
</section>