<section id="awards" class="home-section wg-pages   ">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-4 section-heading">
                <h1>Awards</h1>
            </div>
            <div class="col-12 col-lg-8">
                <ul class="fa-ul mb-0">
                    <li>
                        <i class="fa-li fa fa-trophy text-warning"></i> University Dean's List Scholarship (BUET), 2019-2023
                    </li>
                    <li>
                        <i class="fa-li fa fa-trophy text-warning"></i> University Merit Scholarship (BUET), 2018-2023
                    </li>
                    <li>
                        <i class="fa-li fa fa-trophy text-warning"></i> Champion in an international <a href="https://www.kaggle.com/competitions/bengali-ged">Grammatical Error Detection Competition</a>
                    </li>
                    <li>
                        <i class="fa-li fa fa-trophy text-warning"></i> 2nd Runner Up in <a href="https://www.facebook.com/events/629128209016702/">NLP Hackathon-2023</a> hosted by Bangladesh Open Source Network
                    </li>
                    <li>
                        <i class="fa-li fa fa-trophy text-warning"></i> 1st Runner Up in <a href="https://www.facebook.com/nsuacmsc/photos/pcb.1804612206356471/1815371171947241/">HackNSU 2020</a> organized by NSU ACM Student Chapter
                    </li>
                    <li>
                        <i class="fa-li fa fa-trophy text-warning"></i> Placed in Top Seven of <a href="https://fb.me/e/1JZGu7ctN">HackTheVerse 2020</a> hosted by IIT,DU
                    </li>
                    <li>
                        <i class="fa-li fa fa-trophy text-warning"></i> Program Committee member in <a href="https://sig-edu.org/bea/2023">BEA-ACL 2023</a> Conference Workshop
                    </li>
                    <li>
                        <i class="fa-li fa fa-trophy text-warning"></i> Talentpool Scholarship (HSC/O Level) ; 8th position in Dhaka Board
                    </li>
                    <li>
                        <i class="fa-li fa fa-trophy text-warning"></i>  Talentpool Scholarship (SSC/A level) ; 20th position in Dhaka Board
                    </li>
                    <li>
                        <i class="fa-li fa fa-trophy text-warning"></i>  Coordinator and Problem Setter in ICT Olympiad of St. Joseph High School, Dhaka
                    </li>
                </ul>
            </div>
        </div>
        </br>
        </br>
        </br>
    </div>
</section>