<section id="awards" class="home-section wg-pages   ">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-4 section-heading">
                <h1>Awards</h1>
            </div>
            <div class="col-12 col-lg-8">
                <ul class="fa-ul mb-0">
                    <li>
                        <i class="fa-li fa fa-trophy text-warning"></i> Dean's List Scholarship (BUET), 2018-2022
                    </li>
                    <li>
                        <i class="fa-li fa fa-trophy text-warning"></i> University Merit Scholarship (BUET), 2017-2022
                    </li>
                    <li>
                        <i class="fa-li fa fa-trophy text-warning"></i> Winner in National Undergraduate Mathematics Olympiad, 2018
                    </li>
                    <li>
                        <i class="fa-li fa fa-trophy text-warning"></i> Honorable Mention in Notre Dame College, 2016
                    </li>
                    <li>
                        <i class="fa-li fa fa-trophy text-warning"></i> National Winner in Bangladesh Mathematical Olympiad, 2014-16
                    </li>
                </ul>
            </div>
        </div>
        </br>
        </br>
        </br>
    </div>
</section>