<section id="awards">
    <h2>Awards &amp; Service</h2>
    <div class="two-col">
        <div>
            <h3 class="sub-heading" style="margin-top: 0;">Awards</h3>
            <ul class="dot-list">
                <li><span><strong>Computer Science Department Research Fellowship (UCI)</strong> &mdash; Graduate Fellow</span></li>
                <li><span><strong>Champion</strong>, international <a href="https://www.kaggle.com/competitions/bengali-ged" target="_blank" rel="noopener">Grammatical Error Detection Competition</a> (Kaggle)</span></li>
                <li><span><strong>2nd Runner Up</strong>, <a href="https://www.facebook.com/events/629128209016702/" target="_blank" rel="noopener">NLP Hackathon 2023</a>, Bangladesh Open Source Network</span></li>
                <li><span><strong>1st Runner Up</strong>, <a href="https://www.facebook.com/nsuacmsc/photos/pcb.1804612206356471/1815371171947241/" target="_blank" rel="noopener">HackNSU 2020</a>, NSU ACM Student Chapter</span></li>
                <li><span><strong>Top Seven</strong>, <a href="https://fb.me/e/1JZGu7ctN" target="_blank" rel="noopener">HackTheVerse 2020</a>, IIT, University of Dhaka</span></li>
                <li><span>University Dean's List Scholarship (BUET), 2019-2023</span></li>
                <li><span>University Merit Scholarship (BUET), 2018-2023</span></li>
                <li><span>Talentpool Scholarship (HSC/O Level), 8th position in Dhaka Board</span></li>
                <li><span>Talentpool Scholarship (SSC/A Level), 20th position in Dhaka Board</span></li>
            </ul>
        </div>
        <div>
            <h3 class="sub-heading" style="margin-top: 0;">Service</h3>
            <ul class="dot-list">
                <li><span><strong>Artifact Evaluation Committee</strong>, NDSS 2027</span></li>
                <li><span><strong>Program Committee</strong>, <a href="https://sig-edu.org/bea/2023" target="_blank" rel="noopener">BEA-ACL 2023</a> Workshop</span></li>
                <li><span>Coordinator and Problem Setter, ICT Olympiad of St. Joseph High School, Dhaka</span></li>
            </ul>
        </div>
    </div>
</section>
