<section id="contact" class="home-section wg-contact   ">
    <div class="container">
        <div class="row contact-widget">
            <div class="col-12 col-lg-4 section-heading">
                <h1>Contact</h1>
            </div>
            <div class="col-12 col-lg-8">
                <ul class="fa-ul">
                    <li>
                        <i class="fa-li fas fa-envelope fa-2x " aria-hidden="true "></i>
                        <span id="person-email "><a href="mailto:sihata@uci.edu">sihata@uci.edu</a></span>
                    </li>
                    <li>
                        <i class="fa-li fas fa-map-marker fa-2x " aria-hidden="true "></i>
                        <span id="person-address ">ICS Building 1, Room 430B, Donald Bren School of Information &amp; Computer Sciences, University of California, Irvine, CA 92697</span>
                    </li>
                </ul>
                <div class="d-none">
                    <input id="map-provider" value="2">
                    <input id="map-lat" value="33.64426">
                    <input id="map-lng" value="-117.84170">
                    <input id="map-dir" value="ICS Building 1, University of California, Irvine">
                    <input id="map-zoom" value="17">
                    <input id="map-api-key " value="">
                </div>
                <div id="map" style="height: 180px; max-width: 320px; width: 100%; border-radius: 6px; box-shadow: 0 1px 4px rgba(0,0,0,0.12); margin-top: 0.5rem;"></div>
            </div>
        </div>
    </div>
</section>