<section id="contact">
    <h2>Contact</h2>
    <div class="contact-grid">
        <ul class="dot-list">
            <li><span><strong>Email:</strong> <a href="mailto:sihata@uci.edu">sihata@uci.edu</a></span></li>
            <li><span><strong>Office:</strong> ICS Building 1, Room 430B, Donald Bren School of Information &amp; Computer Sciences, University of California, Irvine, CA 92697</span></li>
        </ul>
        <iframe title="Map of ICS Building 1, UC Irvine" loading="lazy" src="https://www.openstreetmap.org/export/embed.html?bbox=-117.8442%2C33.6427%2C-117.8392%2C33.6458&amp;layer=mapnik&amp;marker=33.64426%2C-117.84170"></iframe>
    </div>
</section>
