<section id="contact" class="home-section wg-contact   ">
    <div class="container">
        <div class="row contact-widget">
            <div class="col-12 col-lg-4 section-heading">
                <h1>Contact</h1>
            </div>
            <div class="col-12 col-lg-8">
                <ul class="fa-ul">
                    <li>
                        <i class="fa-li fas fa-envelope fa-2x " aria-hidden="true "></i>
                        <span id="person-email "><a href="mailto:sihatafnan24@mail.com">sihatafnan24@mail.com</a></span>
                    </li>
                    <!-- <li>
                        <i class="fa-li fab fa-twitter fa-2x " aria-hidden="true "></i>
                        <a href="https://twitter.com/sadmankiba" target="_blank " rel="noopener ">DM Me</a>
                    </li> -->
                    <li>
                        <i class="fa-li fas fa-map-marker fa-2x " aria-hidden="true "></i>
                        <span id="person-address ">BRAC University, Department of Computer Sciences and  Engineering, School of Data and Sciences, 1 Bir Uttam Rafiqul Islam Ave, Dhaka 1212</span>
                    </li>
                </ul>
                <div class="d-none">
                    <input id="map-provider" value="2">
                    <input id="map-lat" value="23.77347719159891">
                    <input id="map-lng" value="90.42446272359368">
                    <input id="map-dir" value="BRAC University, Department of Computer Sciences and  Engineering">
                    <input id="map-zoom" value="15">
                    <input id="map-api-key " value="">
                </div>
                <div id="map"></div>
            </div>
        </div>
    </div>
</section>