<section id="coursework" class="home-section wg-coursework">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-4 section-heading">
                <h1>Coursework</h1>
            </div>
            <div class="col-12 col-lg-8">
                <table>
                    <tr>
                      <th>Course Title</th>
                      <th>Instructor</th>
                      <th>Keywords</th>
                      <th>Projects</th>
                    </tr>
                    <tr>
                      <td><a href="https://pages.cs.wisc.edu/~remzi/Classes/537/Fall2022/">Operating Systems</a></td>
                      <td>Remzi Arpaci-Dusseau</td>
                      <td>Scheduling, Virtualization, Concurrency, File Systems, Storage</td>
                      <td>XV6, Parallel Sort, Distributed File System
                        </td>
                    </tr>
                    <tr>
                      <td><a href="https://pages.cs.wisc.edu/~mgliu/CS740/S23/index.html">Advanced Computer Networks</a></td>
                      <td>Ming Liu</td>
                      <td>Datacenter Architecture, Flow Scheduling, Load Balancing, Congestion Control, SDN, Endhost Network</td>
                      <td>DPDK Evaluation, Datacenter Congestion Control, Disaggregated Storage Profiling</td>
                    </tr>
                    <tr>
                      <td><a href="https://tyler.caraza-harter.com/cs544/f23/schedule.html">Introduction to Big Data Systems</a></td>
                      <td>Tyler Caraza-Harter</td>
                      <td>Clusters, Distributed Filesystem, Distributed Database, Distributed ML, Partitioning, Streaming</td>
                      <td>Distributed Data Processing with Hadoop and Spark</td>
                    </tr>
                    <tr>
                      <td><a href="https://pages.cs.wisc.edu/~yxy/cs839-f23/index.html">Cloud-native Database</a></td>
                      <td>Xiangyao Yu</td>
                      <td>Storage Disaggregation, Analytical and Transaction Processing, Serverless, Auto-Scaling, Hardware Utilization for DB</td>
                      <td>Wasm Evaluation for Cloud Database</td>
                    </tr>
                    <tr>
                      <td><a href="https://pages.cs.wisc.edu/~mgliu/CS839/F23/syllabus.html">SmartNIC Systems</a></td>
                      <td>Ming Liu</td>
                      <td>FPGA NIC, SoC NIC, Application Offloading, Caching, Job Scheduling, Load Balancing</td>
                      <td>Application Offloading on NVIDIA Bluefield DPU</td>
                    </tr>
                    <tr>
                      <td><a href="/files/HPC-Schedule.pdf">High-Performance Computing</a></td>
                      <td>Dan Negrut</td>
                      <td>GPU Architecture, GPU Memory, GPU Scheduling, ILP, Compiler Optimization, CUDA, Multi-core Programming, Supercomputer</td>
                      <td>Parallel Computing with CUDA, OpenMP and MPI</td>
                    </tr>
                  </table>
            </div>
        </div>
        </br>
        </br>
        </br>
    </div>
</section>