<section id="experience" class="home-section wg-pages">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-4 section-heading">
                <h1>Experience</h1>
            </div>
            <div class="col-12 col-lg-8">
                <div class="card-simple">
                    <h3 class="article-title mb-1 mt-3">
                        Platform Engineering Intern
                    </h3>
                    <div>
                        <span class="article-header">Hewlett Packard Enterprise</span>
                    </div>
                    <div class="article-metadata">
                        <span class="article-date">
                            May, 2023 - Aug, 2023.   Bloomington, MN, USA.
                        </span>
                        <span class="middot-divider"></span>
                    </div>
                    <div class="article-style">
                        <p> Contributed to Linux kernel drivers for HPE Slingshot networking devices. Designed and implemented kernel-module API across multiple drivers. </p>    
                    </div>
                </div>
                <div class="card-simple">
                    <h3 class="article-title mb-1 mt-3">
                        Developer and Researcher
                    </h3>
                    <div>
                        <span class="article-header">University of Wisconsin-Madison</span>
                    </div>
                    <div class="article-metadata">
                        <span class="article-date">
                            Jun, 2022 - May, 2023. Madison, WI, USA.
                        </span>
                        <span class="middot-divider"></span>
                        <span class="pub-publication">  
                        </span>
                    </div>
                    <div class="article-style">
                        <p>Worked on programmable switches and disaggregated storage device. Benchmarked remote storage access with NVMe-oF and RDMA across server and storage nodes. </p>
                    </div>
                </div>
                <div class="card-simple">
                    <h3 class="article-title mb-1 mt-3">
                        Developer and Researcher
                    </h3>
                    <div>
                        <span class="article-header">Bangaldesh University of Engineering and Technology</span>
                    </div>
                    <div class="article-metadata">
                        <!-- <div>
                            <span><strong>Sadman Sakib</strong></span>, <span><a href="https://www.bcm.edu/people-search/md-abul-hassan-samee-29998" style="color:inherit"><u>Dr. Md Abul Hassan Samee</u></a></span>, <span><a href="https://msrahman.buet.ac.bd/" style="color:inherit"><u>Dr. M. Sohel Rahman</u></a></span>, <span>Samin Rahman Khan</span>
                        </div> -->
                        <span class="article-date">
                            Mar, 2021 - May, 2022. Dhaka, Bangladesh.
                        </span>
                        <span class="middot-divider"></span>
                        <span class="pub-publication">  
                        </span>
                    </div>
                    <div class="article-style">
                        <p>Designed an array of interpretable CNN models to analyze sequence motifs of DNA bendability. Developed efficient algorithms for processing large-scale data.</p>
                    </div>
                    <!-- <div class="btn-links">
                        <a class="btn btn-outline-primary my-1 mr-1 btn-sm" href="https://doi.org/10.1016/j.isci.2023.105945" target="_blank" rel="noopener">
                            Paper</a>
                        <a class="btn btn-outline-primary my-1 mr-1 btn-sm" href="/files/Poster.pdf" target="_blank" rel="noopener">
                            Poster</a>
                    </div> -->
                </div>
                <div class="card-simple">
                    
                    <h3 class="article-title mb-1 mt-3">
                        <a href="">Lead Developer</a>
                    </h3>
                    <div>
                        <span class="article-header">University of Illinois at Urbana-Champaign</span>
                    </div>
                    <div class="article-metadata">
                        <!-- <div>
                            <span><strong>Sadman Sakib</strong></span>, <span><a href="https://caesar.web.engr.illinois.edu/" style="color:inherit"><u>Dr. Matthew Caesar</u></a></span>, <span><a href="https://cse.buet.ac.bd/faculty/facdetail.php?id=miisakib" style="color:inherit"><u>Md Iftekharul Islam Sakib</u></a></span>, <span>IoT-VR Team</span>
                        </div> -->
                        <span class="article-date">
                            Jan, 2020 - Feb, 2022. Remote.
                        </span>
                        <span class="middot-divider"></span>
                        <span class="pub-publication">
                        </span>
                    </div>
                    <div class="article-style">
                        <p>Collaborated with Prof. Matthew Caesar and UIUC students to develop a virtual IoT platform for deployment and monitoring of IoT network. Participated in both development and leadership roles.</p>
                    </div>
                    <!-- <div class="btn-links">
                        <a class="btn btn-outline-primary my-1 mr-1 btn-sm" href="https://iot.actuallycolab.com/" target="_blank" rel="noopener">
                            Website</a>
                    </div> -->
                </div>
                <div class="card-simple">
                    <h3 class="article-title mb-1 mt-3">
                        <a href="">Developer and Researcher</a>
                    </h3>
                    <div class="article-metadata">
                        <!-- <div>
                            <span><strong>Sadman Sakib</strong></span>, <span><a href="http://speed.cis.nctu.edu.tw/~ydlin/" style="color:inherit"><u>Dr. Ying-Dar Lin</u></a></span>, <span><a href="http://mshohrabhossain.buet.ac.bd/" style="color:inherit"><u>Dr. Md Shohrab Hossain</u></a></span>, <span>Asad Ali</span>, <span>Samin Rahman Khan</span>, <span>Tushin Mollick</span> 
                        </div> -->
                        <span class="article-date">
                            Feb, 2020 - Oct, 2021. Dhaka, Bangladesh.
                        </span>
                    </div>
                    <div class="article-style">
                        <p>Designed network architecture for authentication and application mobility solutions in federated edge computing. Developed 3GPP-compliant mobility and roaming protocols for 4G/5G networks.</p>
                    </div>
                    <!-- <div class="btn-links">
                        <a class="btn btn-outline-primary my-1 mr-1 btn-sm" href="https://ieeexplore.ieee.org/document/9743909" target="_blank" rel="noopener">
                            Paper 1</a>
                        <a class="btn btn-outline-primary my-1 mr-1 btn-sm" href="https://ieeexplore.ieee.org/document/9838904" target="_blank" rel="noopener">
                            Paper 2</a>
                    </div> -->
                    <!-- <div class="card-simple">
                        <span class="d-none default-project-filter">*</span>
                        <div class="project-toolbar">
                            <div class="project-filters">
                                <div class="btn-toolbar">
                                    <div class="btn-group flex-wrap">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="isotope projects-container js-layout-masonry " style="position: relative; height: 343.8px;">
                            <div class="project-card project-item isotope-item js-id-informality" style="position: absolute; left: 0px; top: 0px;">
                                <iframe src="https://drive.google.com/file/d/1VIG_rHyxI6xnXM_rGvWjZbjDTrM3PYue/preview" width="700" height="315" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
                            </div>
                            <div class="project-card project-item isotope-item js-id-social-media" style="position: absolute; left: 0px; top: 0px;">
                                <iframe width="700" height="315" src="https://www.youtube.com/embed/vD7dg_3NG_s" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
                            </div>
                            <div class="project-card project-item isotope-item js-id-development" style="position: absolute; left: 0px; top: 0px;">
                                <iframe width="700" height="315 " src="https://www.youtube.com/embed/-EBv6OUGs28" frameborder="0 " allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture " allowfullscreen=" "></iframe>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
        </br>
        </br>
        </br>
    </div>
</section>