<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Sihat Afnan, PhD student at UC Irvine working on security and privacy of embodied AI, AR/VR, and autonomous driving.">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Nunito+Sans:wght@400;500;600;700&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-1/css/all.min.css" integrity="sha256-4w9DunooKSr3MFXHXWyFER38WmPdm361bQS/2KUWZbU=" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/academicons/1.8.6/css/academicons.min.css" integrity="sha256-uFVgMKfistnJAfoCUQigIl+JfUaP47GrRKjf6CTPVmw=" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="icon" href="/img/sa.jpg">
    <link rel="apple-touch-icon" href="/img/sa.jpg">
    <meta property="og:site_name" content="Sihat Afnan">
    <meta property="og:title" content="Sihat Afnan">
    <meta property="og:image" content="/admin/headshot.jpg">
    <meta property="og:locale" content="en-us">
    <title>{{ page.title }}</title>
</head>
