<section id="papers" class="home-section wg-pages   ">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-4 section-heading">
                <h1>Papers</h1>
            </div>
            <div class="col-12 col-lg-8">
                <div class="pub-list-item" style="margin-bottom: 1rem">
                    <i class="far fa-file-alt pub-icon" aria-hidden="true"></i>
                    <span class="article-metadata li-cite-author">             
                        <span>Asad Ali</span>, <span>Samin Rahman Khan</span>, <span><strong>Sadman Sakib</strong></span>, <span>Md. Shohrab Hossain</span> and <span>Ying-Dar Lin</span>
                    </span>
                    <a href="https://ieeexplore.ieee.org/document/9743909">Federated 3GPP Mobile Edge Computing Systems: A Transparent Proxy for 3rd-Party Authentication with Application Mobility Support</a>. <i>In IEEE Access.</i>
                </div>
                <div class="pub-list-item" style="margin-bottom: 1rem">
                    <i class="far fa-file-alt pub-icon" aria-hidden="true"></i>
                    <span class="article-metadata li-cite-author">             
                    <span>Asad Ali</span>, <span>Tushin Mallick</span>, <span><strong>Sadman Sakib</strong></span>, <span>Md. Shohrab Hossain</span> and <span>Ying-Dar Lin</span>
                    </span>
                    <a href="https://ieeexplore.ieee.org/document/9838904">Provisioning Fog Services to 3GPP Subscribers: Authentication and Application Mobility</a>. <i>In IEEE International Conference on Communications 2022.</i> 
                </div>
                <div class="pub-list-item" style="margin-bottom: 1rem">
                    <i class="far fa-file-alt pub-icon" aria-hidden="true"></i>
                    <span class="article-metadata li-cite-author">             
                    <span>Samin Rahman Khan</span>, <span><strong>Sadman Sakib</strong></span>, <span>M. Sohel Rahman</span>, <span>Md. Abul Hassan Samee</span>
                    </span>
                    <a href="https://doi.org/10.1016/j.isci.2023.105945">DeepBend: An Interpretable Model of DNA Bendability</a>. <i>In Cell iScience.</i>
                </div>
                <!--
                <div class="pub-list-item" style="margin-bottom: 1rem">
                    <i class="far fa-file-alt pub-icon" aria-hidden="true"></i>
                    <span class="article-metadata li-cite-author">             
                    <span>Samin Rahman Khan</span>, <span><strong>Sadman Sakib</strong></span>, <span>M. Sohel Rahman</span>, <span>Md. Abul Hassan Samee</span>
                    </span>
                    <a href="/files/Poster.pdf">A deep learning model reveals sequence signatures associated with DNA bendability and links bendability-altering mutations with aberrant chromosomal conformation</a>. <i> In Conference on Genome Informatics, Cold Spring Harbor Laboratory, 2021.</i>
                </div>
                -->
            </div>
        </div>
        </br>
        </br>
        </br>
    </div>
</section>