<section id="projects" class="home-section wg-experience   ">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-4 section-heading">
                <h1>Projects</h1>
            </div>
            <div class="col-12 col-lg-8">
                <div class="row experience">
                    <div class="col-auto text-center flex-column d-none d-sm-flex">
                        <div class="row h-50">
                            <div class="col ">&nbsp;</div>
                            <div class="col">&nbsp;</div>
                        </div>
                        <div class="m-2">
                            <span class="badge badge-pill border ">&nbsp;</span>
                        </div>
                        <div class="row h-50">
                            <div class="col border-right">&nbsp;</div>
                            <div class="col">&nbsp;</div>
                        </div>
                    </div>
                    <div class="col py-2">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title exp-title text-muted mt-0 mb-1">Flow classification on Programmable Data Plane using P4 Switch</h4>
                                <div class="text-muted exp-meta">
                                    <span class="middot-divider"></span>                                       
                                    <p>
                                        Classifying network flows at an early stage primarily based on size of the flow, count of packets, inter-arrival time,
                                        and duration of the flow. The ML technique considered is decision trees since it can be easily implemented in PISA Architecture.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row experience">
                    <div class="col-auto text-center flex-column d-none d-sm-flex">
                        <div class="row h-50">
                            <div class="col border-right">&nbsp;</div>
                            <div class="col">&nbsp;</div>
                        </div>
                        <div class="m-2">
                            <span class="badge badge-pill border ">&nbsp;</span>
                        </div>
                        <div class="row h-50">
                            <div class="col border-right">&nbsp;</div>
                            <div class="col">&nbsp;</div>
                        </div>
                    </div>
                    <div class="col py-2">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title exp-title text-muted mt-0 mb-1">Improving RTT & RTO</h4>
                               <div class="text-muted exp-meta">
                                    
                                    <span class="middot-divider"></span>                                       
                                    <p>
                                        Open source implementation of <strong>Peak-Hopper: A New End-to-End Retransmission Timer for Reliable
                                        Unicast Transport.</strong> It improves the performance of retransmission timer specified in [RFC2988] using the network
                                        simulator NS3.<br>
                                        <a href="https://github.com/AfnanCSE98/NS3-RTT-RTO-Modification">[Code]</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row experience">
                    <div class="col-auto text-center flex-column d-none d-sm-flex">
                        <div class="row h-50">
                            <div class="col border-right">&nbsp;</div>
                            <div class="col">&nbsp;</div>
                        </div>
                        <div class="m-2">
                            <span class="badge badge-pill border ">&nbsp;</span>
                        </div>
                        <div class="row h-50">
                            <div class="col border-right">&nbsp;</div>
                            <div class="col">&nbsp;</div>
                        </div>
                    </div>
                    <div class="col py-2">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title exp-title text-muted mt-0 mb-1">Bengali Complex Named Entity Recognition</h4>
                               <div class="text-muted exp-meta">
                                    
                                    <span class="middot-divider"></span>                                       
                                    <p>
                                        Identifications and classification of named entities in Bangla language texts using the BERT model. The project is
                                        designed to be used in various applications such as text analytics and information retrieval systems.<br>
                                        <a href="https://github.com/sihatafnan/NLP-Hackathon-NER">[Code]</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row experience">
                    <div class="col-auto text-center flex-column d-none d-sm-flex">
                        <div class="row h-50">
                            <div class="col border-right">&nbsp;</div>
                            <div class="col">&nbsp;</div>
                        </div>
                        <div class="m-2">
                            <span class="badge badge-pill border ">&nbsp;</span>
                        </div>
                        <div class="row h-50">
                            <div class="col border-right">&nbsp;</div>
                            <div class="col">&nbsp;</div>
                        </div>
                    </div>
                    <div class="col py-2">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title exp-title text-muted mt-0 mb-1">Operating Systems Projects</h4>
                                <h4 class="card-title exp-company text-muted my-0">Course Project</h4>
                                <div class="text-muted exp-meta">
                                    
                                    <span class="middot-divider"></span>                                       
                                    <p>
                                        Adding syscall, threading and scheduling in XV6, implementing Linux shell, implementation of Memory Management Module of XV6.<br>
                                        <a href="https://github.com/sihatafnan/CSE-314-Operating-System-Sessional">[Code]</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row experience">
                    <div class="col-auto text-center flex-column d-none d-sm-flex">
                        <div class="row h-50">
                            <div class="col border-right">&nbsp;</div>
                            <div class="col">&nbsp;</div>
                        </div>
                        <div class="m-2">
                            <span class="badge badge-pill border ">&nbsp;</span>
                        </div>
                        <div class="row h-50">
                            <div class="col border-right">&nbsp;</div>
                            <div class="col">&nbsp;</div>
                        </div>
                    </div>
                    <div class="col py-2">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title exp-title text-muted mt-0 mb-1">Pipelined MIPS-like Processor</h4>
                                <h4 class="card-title exp-company text-muted my-0">Course Project</h4>
                                <div class="text-muted exp-meta">
                                   
                                    <span class="middot-divider"></span>                                       
                                    <p>
                                        Implemented an 8-bit processor that supports pipelined datapath for a subset of MIPS instruction set.<br>
                                        <br><a href="https://github.com/sihatafnan/CSE-306-Computer-Architecture-Sessional/tree/main/Assignment_MIPS_Piepeline">[Code]</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row experience">
                    <div class="col-auto text-center flex-column d-none d-sm-flex">
                        <div class="row h-50">
                            <div class="col border-right">&nbsp;</div>
                            <div class="col">&nbsp;</div>
                        </div>
                        <div class="m-2">
                            <span class="badge badge-pill border ">&nbsp;</span>
                        </div>
                        <div class="row h-50">
                            <div class="col ">&nbsp;</div>
                            <div class="col">&nbsp;</div>
                        </div>
                    </div>
                    <div class="col py-2">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title exp-title text-muted mt-0 mb-1">A Smart Stick for Blind People with object detection and direction guidance</h4>
                                <h4 class="card-title exp-company text-muted my-0">Course Project</h4>
                                <div class="text-muted exp-meta">
                                  
                                    <span class="middot-divider"></span>                                       
                                    <p>
                                        Built a SmartStick for the blind with an embedded system constructed of ATMega32 microcontroller and various sensors mounted on it for obstacle detection and direction guidance.
                                        <br><a href="https://youtu.be/c8J_XOOHVkg">[Demo]</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row experience">
                    <div class="col-auto text-center flex-column d-none d-sm-flex">
                        <div class="row h-50">
                            <div class="col border-right">&nbsp;</div>
                            <div class="col">&nbsp;</div>
                        </div>
                        <div class="m-2">
                            <span class="badge badge-pill border ">&nbsp;</span>
                        </div>
                        <div class="row h-50">
                            <div class="col ">&nbsp;</div>
                            <div class="col">&nbsp;</div>
                        </div>
                    </div>
                    <div class="col py-2">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title exp-title text-muted mt-0 mb-1">Ray Tracing from scratch using OpenGL</h4>
                                <h4 class="card-title exp-company text-muted my-0">Course Project</h4>
                                <div class="text-muted exp-meta">
                                  
                                    <span class="middot-divider"></span>                                       
                                    <p>
                                        A ray tracer shoots rays from the observer’s eye through a screen and into a scene of objects. It calculates the ray’s intersection with objects, finds the nearest intersection and calculates the color of the surface according to its material and lighting conditions.
                                        <a href="https://github.com/sihatafnan/CSE410-Computer-Graphics-Sessional-OpenGL/tree/main/Ray%20Tracing">[Demo]</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </br>
        </br>
        </br>
    </div>
</section>