<section id="projects" class="home-section wg-experience   ">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-4 section-heading">
                <h1>Projects</h1>
            </div>
            <div class="col-12 col-lg-8">
                <div class="row experience">
                    <div class="col-auto text-center flex-column d-none d-sm-flex">
                        <div class="row h-50">
                            <div class="col ">&nbsp;</div>
                            <div class="col">&nbsp;</div>
                        </div>
                        <div class="m-2">
                            <span class="badge badge-pill border ">&nbsp;</span>
                        </div>
                        <div class="row h-50">
                            <div class="col border-right">&nbsp;</div>
                            <div class="col">&nbsp;</div>
                        </div>
                    </div>
                    <div class="col py-2">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title exp-title text-muted mt-0 mb-1">High-Performance Computing</h4>
                                <h4 class="card-title exp-company text-muted my-0">Course Project</h4>
                                <div class="text-muted exp-meta">
                                    Sep 2023 - Oct 2023
                                    <span class="middot-divider"></span>                                       
                                    <p>
                                        Implemented highly-parallelized vector and matrix operations for NVIDIA GPU, and compared performance of operations on CPU, GPU and different GPU memory. (CUDA, Slurm)
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row experience">
                    <div class="col-auto text-center flex-column d-none d-sm-flex">
                        <div class="row h-50">
                            <div class="col border-right">&nbsp;</div>
                            <div class="col">&nbsp;</div>
                        </div>
                        <div class="m-2">
                            <span class="badge badge-pill border ">&nbsp;</span>
                        </div>
                        <div class="row h-50">
                            <div class="col border-right">&nbsp;</div>
                            <div class="col">&nbsp;</div>
                        </div>
                    </div>
                    <div class="col py-2">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title exp-title text-muted mt-0 mb-1">Datacenter Networking</h4>
                                <h4 class="card-title exp-company text-muted my-0">Course Project</h4>
                                <div class="text-muted exp-meta">
                                    Jan 2023 - May 2023
                                    <span class="middot-divider"></span>                                       
                                    <p>
                                        Projects for UW-Madison CS740 course- implementing TCP in DPDK, CONGA congestion control in Htsim, and measuring performance of storage and network traffic during contention in physical servers. (DPDK, Htsim, SPDK, Fio, Iperf, Sysstat)
                                        <a href="https://github.com/sadmankiba/Nw-Adv-Projects">[Code]</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row experience">
                    <div class="col-auto text-center flex-column d-none d-sm-flex">
                        <div class="row h-50">
                            <div class="col border-right">&nbsp;</div>
                            <div class="col">&nbsp;</div>
                        </div>
                        <div class="m-2">
                            <span class="badge badge-pill border ">&nbsp;</span>
                        </div>
                        <div class="row h-50">
                            <div class="col border-right">&nbsp;</div>
                            <div class="col">&nbsp;</div>
                        </div>
                    </div>
                    <div class="col py-2">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title exp-title text-muted mt-0 mb-1">Operating Systems Projects</h4>
                                <h4 class="card-title exp-company text-muted my-0">Course Project</h4>
                                <div class="text-muted exp-meta">
                                    Sep 2022 - Dec 2022
                                    <span class="middot-divider"></span>                                       
                                    <p>
                                        Projects for UW-Madison CS537 course- adding syscall, threading and scheduling in XV6, implementing Linux shell, implementing parallel sort and developing a distributed file system. (C, Shell, x86 assembly)
                                        <a href="https://github.com/sadmankiba/Intro-to-OS-Assignments">[Code]</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row experience">
                    <div class="col-auto text-center flex-column d-none d-sm-flex">
                        <div class="row h-50">
                            <div class="col border-right">&nbsp;</div>
                            <div class="col">&nbsp;</div>
                        </div>
                        <div class="m-2">
                            <span class="badge badge-pill border ">&nbsp;</span>
                        </div>
                        <div class="row h-50">
                            <div class="col border-right">&nbsp;</div>
                            <div class="col">&nbsp;</div>
                        </div>
                    </div>
                    <div class="col py-2">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title exp-title text-muted mt-0 mb-1">Pipelined MIPS-like Processor</h4>
                                <h4 class="card-title exp-company text-muted my-0">Course Project</h4>
                                <div class="text-muted exp-meta">
                                    Sep 2022 - Dec 2022
                                    <span class="middot-divider"></span>                                       
                                    <p>
                                        Projects for UW-Madison CS552 course- designing higher-level logical components such as demultiplexer, carry lookahead adder and register from basic gates, and finally designing a five-stage pipelined processor with hazard avoidance and optimizations. (Verilog)
                                        <a href="https://github.com/sadmankiba/Intro-to-Arch-Assignments">[Code]</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row experience">
                    <div class="col-auto text-center flex-column d-none d-sm-flex">
                        <div class="row h-50">
                            <div class="col border-right">&nbsp;</div>
                            <div class="col">&nbsp;</div>
                        </div>
                        <div class="m-2">
                            <span class="badge badge-pill border ">&nbsp;</span>
                        </div>
                        <div class="row h-50">
                            <div class="col ">&nbsp;</div>
                            <div class="col">&nbsp;</div>
                        </div>
                    </div>
                    <div class="col py-2">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title exp-title text-muted mt-0 mb-1">Detecting and Tracing Objects with Microcontrollers and Sensors</h4>
                                <h4 class="card-title exp-company text-muted my-0">Course Project</h4>
                                <div class="text-muted exp-meta">
                                    Aug 2019 – Dec 2019
                                    <span class="middot-divider"></span>                                       
                                    <p>
                                        A small-scale radar created with microcontrollers and sonar sensors. The microcontrollers were connected with a smartphone using Wi-Fi module to visualize data in a smartphone application.
                                        <a href="youtu.be/v-IjqOj-CHs">[Demo]</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </br>
        </br>
        </br>
    </div>
</section>