<section id="usefullinks" class="home-section wg-pages">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-4 section-heading">
                <h1>Useful Links</h1>
            </div>
            <!-- <div class="col-12 col-lg-8">
                <div class="card-simple">
                    <h3 class="article-title mb-1 mt-3">
                        Lecturer
                    </h3>
                    
                </div>
                <div class="card-simple">
                    <h3 class="article-title mb-1 mt-3">
                        <div>
                            <span class="article-header"><a href="https://www.spectrum-bd.com/">Spectrum Software & Consulting Ltd</a></span>
                        </div>
                    </h3>
                </div>
                
            </div> -->
            <ul>
                <li>
                    <i class="fa-li fa fa-trophy text-warning"></i><a href="https://fabio.pierazzi.com/blog/2021/literature-review-systems-security/">How to Review Literature in Systems Security</a>
                </li>
                <li>
                    <i class="fa-li fa fa-trophy text-warning"></i><a href="https://www.vusec.net/threats-to-validity-in-security-research/">Threats to Validity and Relevance in Security Research</a>
                </li>
                <li>
                    <i class="fa-li fa fa-trophy text-warning"></i><a href="https://www.mlsec.org/topnotch/">Influential Security Papers </a>
                </li>
                <li>
                    <i class="fa-li fa fa-trophy text-warning"></i><a href="https://people.engr.tamu.edu/guofei/sec_conf_stat.htm">Computer Security Conference Ranking and Statistic</a>
                </li>
                <li>
                    <i class="fa-li fa fa-trophy text-warning"></i><a href="https://matt.might.net/articles/ways-to-fail-a-phd/">10 easy ways to fail a Ph.D.</a>
                </li>
                <li>
                    <i class="fa-li fa fa-trophy text-warning"></i><a href="https://cacm.acm.org/blogs/blog-cacm/157012-phds-from-the-facultys-perspective/fulltext">Ph.D.s from the Faculty's Perspective</a>
                </li> 
                
            </ul>
        </div>
        </br>
        </br>
        </br>
    </div>
</section>