<style>
    /* Hide the sub-items initially */
    .sub-items {
      display: none;
      list-style-type: none; /* Removes the bullet points from the sub-items */
    }
    
    /* Optional: style to indicate clickable items */
    .clickable {
      cursor: pointer;
      color: blue;
    }
</style>
<script>
    function toggleSubItems(id) {
      var subItems = document.getElementById(id);
      if (subItems.style.display === 'none') {
        subItems.style.display = 'block';
      } else {
        subItems.style.display = 'none';
      }
    }
</script>

<section id="usefullinks" class="home-section wg-pages">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-4 section-heading">
                <h1>Useful Links</h1>
            </div>
           
            <ul>
                <li class="clickable" onclick="toggleSubItems('sub-item1')">
                    tmp
                </li>
                    <ul id="sub-item1" class="sub-items">
                        <li>Sub Item 1.1</li>
                        <li>Sub Item 1.2</li>
                        <li>Sub Item 1.3</li>
                    </ul>
                <li>
                    <i class="fa-li fa fa-trophy text-warning"></i><a href="https://medium.com/digital-diplomacy/how-to-look-for-ideas-in-computer-science-research-7a3fa6f4696f">How to Look for Ideas in Computer Science Research by Dr. Zhiyun Qian</a>
                </li> 
                <li>
                    <i class="fa-li fa fa-trophy text-warning"></i><a href="https://fabio.pierazzi.com/blog/2021/literature-review-systems-security/">How to Review Literature in Systems Security</a>
                </li>
                <li>
                    <i class="fa-li fa fa-trophy text-warning"></i><a href="https://www.vusec.net/threats-to-validity-in-security-research/">Threats to Validity and Relevance in Security Research</a>
                </li>
                <li>
                    <i class="fa-li fa fa-trophy text-warning"></i><a href="https://www.mlsec.org/topnotch/">Influential Security Papers </a>
                </li>
                <li>
                    <i class="fa-li fa fa-trophy text-warning"></i><a href="https://people.engr.tamu.edu/guofei/sec_conf_stat.htm">Computer Security Conference Ranking and Statistic</a>
                </li>
                <li>
                    <i class="fa-li fa fa-trophy text-warning"></i><a href="https://archive.ph/UokpF">Advice for early-stage Ph.D. students by Prof. Philip Guo</a>
                </li>
                <li>
                    <i class="fa-li fa fa-trophy text-warning"></i><a href="https://matt.might.net/articles/ways-to-fail-a-phd/">10 easy ways to fail a Ph.D.</a>
                </li>
                <li>
                    <i class="fa-li fa fa-trophy text-warning"></i><a href="https://cacm.acm.org/blogs/blog-cacm/157012-phds-from-the-facultys-perspective/fulltext">Ph.D.s from the Faculty's Perspective</a>
                </li> 
                
            </ul>
        </div>
        <!-- </br>
        </br>
        </br> -->
    </div>
</section>